* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.icon {
  float: right;
  margin-right: 50px;
  margin-left: 10px;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
#ones:hover {
  transition: all 1s ease-in-out;
  scale: 1.5;
  opacity: 1;
  transform: translate(50%);
}

#two:hover {
  transition: all 1s ease-in-out;
  scale: 1.5;
  opacity: 1;
  transform: translate(-50%);
}

.logo img {
  margin-left: 10px;
  padding: 5px;
  margin: 0;
}

.logo img:hover {
  transition: all 1s ease-in-out;
  transform: translate(20%);
  scale: 1.3;
}

nav {
  flex: 1;
  text-align: center;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  font-family: "Segoe UI";
  margin-top: 10px;
  font-size: 20px;
  display: inline-block;
  margin-right: 20px;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #ec371f;
  display: block;
  transition: 0.2s linear;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
}

p {
  color: #181717;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 p {
  font-family: "Segoe UI";
  color: white;
  font-weight: 400;
  font-size: 1.3em;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-family: "Segoe UI";
  color: white;
  stroke: #000;
  stroke-width: 20%;
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

button {
  margin-top: 10px;
  background: blue;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 25px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: rgba(0, 0, 255, 0.659);
  border: none;
  font-size: 17px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
    url(IMG_3064-scaled.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.categories {
  width: 100%;
  margin-top: 3rem;
  margin-left: 1em;
}

.categories .col-3 img {
  padding-left: 25px;
  padding-right: 25px;
}

.col-3 img {
  float: left;
  width: 50%;
  height: 50%;
}

#One,
#Second,
#Third {
  padding: 5%;
  width: 100%;
}

.small-container {
  margin-top: 2rem;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-4 img {
  width: 100%;
  margin-top: 5px;
}

.col-4 img:hover {
  transition: all 0.5s ease-in-out;
  scale: 1.1;
}

.title {
  text-align: center;
  position: relative;
  line-height: 60px;
  color: #000;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col-4 p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
}

.offer {
  background: radial-gradient(#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-21 .offer img {
  padding: 50px;
}
.col-21 {
  text-align: center;
  position: relative;
}

.col-21 h3 {
  font-size: 2rem;
}

.col-21 img {
  display: flex;
  justify-content: flex-start;
  float: left;
}

.contents {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 50px;
  font-size: 20px;
}
small {
  font-family: "Segoe UI";
  color: #424242;
}

#locate,
#locate1,
#locate2 {
  width: 50px;
}

.col-good {
  float: left;
  width: 10%;
  height: 10%;
}

#star0,
#star1,
#star2,
#star3,
#star4,
#star01,
#star11,
#star21,
#star31,
#star41,
#star02,
#star12,
#star22,
#star32,
#star42 {
  width: 30px;
}

.rating {
  /* padding: 1em; */
  margin-left: 100px;
}

.wit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin-left: 100px;
}

.testimonial {
  padding-top: 50px;
}

.testimonial .col-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 15px;
  margin-top: 5rem;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  margin-top: 2px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-80px);
}

.customers {
  position: relative;
  width: 20%;
  margin-top: 10px;
  margin-left: 9rem;
}

.testimonial .col-3 h3 {
  font-family: "Segoe UI";
  margin-top: 120px;
}

.testimonial .col-3 p {
  font-family: "Segoe UI";
}

#Img1 {
  width: 20%;
  height: 30%;
}

#Img2 {
  width: 10%;
  height: 5%;
  border-radius: 60%;
}

#Img3 {
  width: 100%;
  height: 100%;
}
*/ footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  background: #343434;
  border-radius: 50px;
  padding-top: 50px;
  color: white;
  position: relative;
}

footer .container {
  font-size: 16.5px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

progress {
  width: 20%;
}

input {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.699);
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  padding: 10px;
  margin-top: 40px;
  margin-left: 110px;
  width: 50%;
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.699);
  font-size: 15px;
}

.footer-content {
  width: 33.3%;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-content p {
  color: white;
  width: 200px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
}

.list {
  padding: 0;
}

.list a {
  color: white;
}

.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: -5s;
}

.list li:hover::before {
  width: 70px;
}

.Social-icons {
  text-align: center;
  padding: 0;
}

.Social-icons li {
  text-align: center;
  list-style: none;
  padding: 0px;
}

.Social-icons {
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar {
  height: 50px;
  background: #f18930;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottom-bar p {
  color: #ffffff;
  align-items: center;
}

.sidebar {
  display: none;
}

#Mo {
  line-height: 25px;
}

.menu {
  display: none;
}

@media (max-width: 780px) {
  body {
    width: 103%;
  }

  .menu {
    display: flex;
    float: right;
    margin-right: 50px;
  }

  nav {
    overflow: hidden;
    width: 90%;
  }

  nav a {
    font-size: 25px;
    margin: 2em 2em 2em;
  }

  nav a:hover {
    width: 100%;
    color: #ec371f;
  }

  footer {
    width: 100vh;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 10000;
    background-color: rgba(238, 228, 228, 0.473);
    /* box-shadow: -10px 0 10px rgba(255, 255, 255, 0.322); */
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .Victory {
    display: none;
  }

  .row {
    flex-basis: 100%;
    display: grid;
    place-content: center;
    margin-top: 100px;
  }

  .col-2 {
    align-content: center;
  }

  .col-2 img {
    min-width: 400px;
    height: 80%;
    width: 800%;
  }
  .header {
    padding: 0;
    height: 100%;
    width: 106%;
  }

  .col-2 h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .button-border button {
    margin-top: 20px;
    font-size: 18px;
  }

  header p {
    font-size: 18px;
  }

  .categories {
    height: 20vh;
  }

  .categories .col-3 img {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .small-container .col-4 img {
    margin-left: 10px;
  }

  .col-4 p {
    font-size: 22px;
  }

  h1,
  p,
  .button-border {
    display: grid;
    place-content: center;
  }

  .offer {
    width: 105%;
  }

  .offer img {
    width: 100%;
    padding: 3rem;
  }
  .testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Work {
    padding-bottom: 15px;
    margin-left: 100%;
  }

  progress {
    width: 50%;
  }

  #Move {
    position: absolute;
    top: 17%;
    width: 20%;
    left: 0;
  }

  #one {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer {
    width: 106%;
    height: 100%;
  }
  footer .container {
    display: inline-block;
    max-width: 1500px;
  }
  .footer-content {
    padding: 20px;
    display: block;
    margin-left: 30%;
  }

  .Social-icons img {
    width: 80%;
    margin: 20px;
    padding: 10px 20px 10px;
  }

  #pro {
    position: absolute;
    left: 0;
    width: 15%;
  }

  input {
    position: absolute;
    left: 0;
    bottom: 7.5%;
  }

  #submit {
    position: absolute;
    bottom: 60px;
    right: 80px;
  }
}
